@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tibas Employee Database!</h1>
    <p>
        • Assignment No.: 2
        • Course Code: PROG30000
        • Your Name: Tiba Al Jaqobi
        • Your Sheridan Student Number: 991698437
        • Instructor’s Name: Syed Tanbeer
        • Note: We are demonstrating MVC design pattern and Dependency Injection in
        this assignment.
        .
    </p>
</div>
